/*.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header2 h3 {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 220px;
}

.time-range {
    margin-right: 214px;
    display: flex;
    gap: 10px;
}

.time-range button {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    cursor: pointer;
    display: inline-block;
    background: none;
    border: none;
    color: #989797;
}

.time-range button:hover {
    color: black;
}

.time-range button:visited {
    color: black;
}

.time-range button.active {
    color: black;
}

.time-range button.inactive {
    color: #989797;
}

.genre-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 220px;
    margin-left: 180px;
    margin-bottom: 20px;
}

.genre-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emotion-progress-bar-container {
    width: 80%;
    background-color: #f3f3f3;
    border-radius: 0px;
    margin-top: 6px;
    height: 60px;
    position: relative;
}

.emotion-progress-bar {
    height: 100%;
    background-color: rgb(27, 82, 46);
    border-radius: 0px;
    transition: width 0.3s ease-in-out;
}
*/
